form.search-form {
  padding-top: 50px;
  position: relative;
  z-index: 9991;
}

form.search-form input {
  background-color: var(--bg-main);
  color: var(--text-main);
  /* border: 2px solid var(--border); */
}
form .search-result {
  background-color: var(--bg-main);
  position: relative;
  z-index: 9991;
  top: 20px;
  left: 0;
  padding: 20px;
  width: 100%;
  /* border: 1px solid var(--border); */
}
form .search-result:hover {
  background-color: var(--bg-main);
}

form .search-result ul {
  list-style: circle inside; 
  margin: 0;
  padding: 0;
  font-size: 18px;
}

form .search-result li {
  margin-bottom: 8px; /* Increase the space between list items */
}

.search-result p {
  padding-left: 1rem;
  border-left: 1px solid var(--text-main);
  margin-left: .5rem;
  font-size: 18px;
}